<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330997994675-4f338k4t36cpq2u1pnmktdf87m034jn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330997994675-4f338k4t36cpq2u1pnmktdf87m034jn6</string>
	<key>API_KEY</key>
	<string>AIzaSyCqlR4bjLHKldoXU9b-ajNxNNxUuE1PW7g</string>
	<key>GCM_SENDER_ID</key>
	<string>330997994675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.popupbits.flutterFlavors</string>
	<key>PROJECT_ID</key>
	<string>flutter-flavors</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flavors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330997994675:ios:3f554bda0d5ace0a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-flavors.firebaseio.com</string>
</dict>
</plist>